################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BirthdayCardsHost.slnx/FileContentIndex
/.vs/slnx.sqlite
/.vs/BirthdayCardsHost.slnx/config
/.vs/BirthdayCardsHost.slnx/v18/.wsuo
/.vs/slnx.sqlite-journal
