body {
    height: 100%;
    margin: 0;
    background: url('Tom-80s.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

#Rules {
    border: 1px solid #d3d9f5;
    color: #ffffff;
    background: #DC602E;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

#Card {
    border: 1px solid #d3d9f5;
    color: #ffffff;
    background: #DC602E;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    width: 85%;
    margin: 20px auto;
    position: relative;
}

#CardTitle {
    text-align: center;
    font-size: 25px;
    margin-bottom: 7px;
    font-weight: bold;
}

.button {
    padding: 10px;
    background: #05A8AA;
    color: #ffffff;
    border: 2px solid #5FBFB1;
    border-radius: 5px;
    width: 80%;
    font-weight: bolder;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

button:active {
    background-color: #B7C3F3;
}

#draw:disabled {
    background-color: #464646; /* Change background color to dark gray */
    color: #999; /* Change text color to light gray */
    cursor: not-allowed; /* Change cursor to not-allowed */
}

#CardText {
    margin-bottom: 30px;
}

#CardNumber {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

#cards-remaining {
    padding: 10px;
    background: #05A8AA;
    color: #ffffff;
    border: 2px solid #5FBFB1;
    border-radius: 5px;
    width: 80%;
    font-weight: bolder;
    text-align: center;
    margin: 0 auto;
}

h3 {
    padding: 0;
    margin: 0;
}

ol {
    margin: 5px 0;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
